---
import { getLangFromUrl } from '~/i18n/utils';
import { getProjects } from '~/queries/projects';

import ProjectCardSkeleton from './item-skeleton.astro';
import ProjectCard from './item.astro';

const lang = getLangFromUrl(Astro.url);
const data = await getProjects(lang);
---

<div class="flex flex-col space-y-4">
  {
    !data
      ? [1, 2, 3, 4].map((i) => <ProjectCardSkeleton key={i} />)
      : data
          .filter((project) => project.featured)
          .map((project) => {
            return <ProjectCard data={project} />;
          })
  }
</div>
