---
import { EMAIL_URL, GH_URL, LI_URL } from '~/utils/constants';

import FileDownload from '../icons/file-download.astro';
import Github from '../icons/github.astro';
import Linkedin from '../icons/linkedin.astro';
import Mail from '../icons/mail.astro';
import ContactItem from './item.astro';
---

<div class="flex w-full gap-4">
  <ContactItem href={GH_URL} label="GitHub">
    <Github />
  </ContactItem>
  <ContactItem href={LI_URL} label="LinkedIn">
    <Linkedin />
  </ContactItem>
  <ContactItem href={EMAIL_URL} label="Email">
    <Mail />
  </ContactItem>
  <ContactItem
    href="/assets/resume.pdf"
    label="Resume"
    download="Miguel Vega - Resume.pdf"
  >
    <FileDownload />
  </ContactItem>
</div>
