---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { EMAIL_URL, GH_URL, LI_URL } from '~/utils/constants';

import FileDownload from '../icons/file-download.astro';
import Github from '../icons/github.astro';
import Linkedin from '../icons/linkedin.astro';
import Mail from '../icons/mail.astro';
import Tooltip from '../tooltip.astro';
import ContactItem from './item.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex w-full gap-4">
  <Tooltip text="GitHub">
    <ContactItem href={GH_URL} label="GitHub">
      <Github />
    </ContactItem>
  </Tooltip>
  <Tooltip text="LinkedIn">
    <ContactItem href={LI_URL} label="LinkedIn">
      <Linkedin />
    </ContactItem>
  </Tooltip>
  <Tooltip text={t('contact.email')}>
    <ContactItem href={EMAIL_URL} label="Email">
      <Mail />
    </ContactItem>
  </Tooltip>
  <Tooltip text={t('contact.download_cv')}>
    <ContactItem
      href="/assets/resume.pdf"
      label="Resume"
      download="Miguel Vega - Resume.pdf"
    >
      <FileDownload />
    </ContactItem>
  </Tooltip>
</div>
