---
interface Props {
  href: string;
  label: string;
  download?: string;
}

const { href, label, download } = Astro.props;
---

<a
  href={href}
  rel="noopener noreferrer"
  target="_blank"
  class="transition-transform duration-300 hover:scale-110"
  download={download}
>
  <span class="sr-only">{label}</span>
  <slot />
</a>
