---
import type { SpotifyNowPlaying } from '../../../types/spotify';
import { joinArray } from '../../../utils';
import SpotifyIcon from '../../common/icons/spotify.astro';

interface Props {
  data: SpotifyNowPlaying;
}

const { data } = Astro.props;
---

<a
  href={data!.item.external_urls.spotify}
  class="group flex w-full flex-wrap items-center justify-center gap-2 text-center"
>
  <SpotifyIcon class="size-5 group-hover:scale-110" />
  <span>
    {joinArray(data.item.artists.map((a: any) => a.name))} - {data.item.name}
  </span>
</a>
