---
import BriefcaseBusiness from '../common/icons/briefcase-business.astro';
import Skeleton from '../common/skeleton.astro';
---

<li class="ml-5">
  <span
    class="absolute -left-5 flex size-10 items-center justify-center rounded-full border border-card bg-background/20 backdrop-blur-md"
  >
    <BriefcaseBusiness class="size-4 text-foreground" />
  </span>
  <div
    class="ml-2 space-y-3 rounded-md border border-card bg-background/20 p-4 backdrop-blur-md"
  >
    <div class="flex items-center justify-between gap-2">
      <Skeleton class="h-4 w-40" />
      <Skeleton class="h-4 w-32" />
    </div>
    <div class="flex flex-col space-y-1">
      <Skeleton class="h-4 w-full" />
      <Skeleton class="h-4 w-full" />
    </div>
  </div>
</li>
