---
import H1 from "../components/common/headings/h1.astro";
import AllProjects from "../components/projects/index.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title='Miguel Vega - Projects'>
  <main class='flex w-full flex-col space-y-14'>
    <section class='flex w-full flex-col space-y-6'>
      <div class='flex flex-col justify-start space-y-2'>
        <H1>Projects</H1>
        <strong class='font-semibold'>
          Take a look at some of the projects I&apos;ve crafted.
        </strong>
      </div>
      <p>
        Step into my portfolio and explore my work. Each project demonstrates
        my front-end development skills and my enthusiasm for creating sleek,
        user-friendly websites. Discover how I merge aesthetics with
        functionality to deliver standout digital experiences.
      </p>
    </section>

    <section class='space-y-6'>
      <AllProjects />
    </section>
  </main>
</Layout>