---
import type { HTMLAttributes } from 'astro/types';

const { class: className, ...props }: HTMLAttributes<'h2'> = Astro.props;
---

<h2 class:list={['text-4xl font-bold', className]} {...props}>
  <slot />
</h2>
