---
import type { HTMLAttributes } from 'astro/types';

const { class: className, ...props }: HTMLAttributes<'h3'> = Astro.props;
---

<h3 class:list={['text-2xl font-bold', className]} {...props}>
  <slot />
</h3>
