---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;

const isActive = Astro.url.pathname === href;
---

<li>
  <a href={href} class:list={['px-3 py-1.5', isActive && 'font-bold']}>
    {title}
  </a>
</li>
