<div
  class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-950 px-2 py-1 font-sans text-xs font-medium uppercase text-gray-50 dark:bg-gray-50 dark:text-gray-950"
>
  <slot />
</div>
