<div class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-950 dark:bg-gray-50 py-1 px-2 font-sans text-xs font-medium uppercase text-gray-50 dark:text-gray-950">
  <slot />
</div>