---
import { getRelativeLocaleUrl } from 'astro:i18n';

import { getLangFromUrl } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);

const nextLang = lang == 'en' ? 'es' : 'en';
const nextLangFlag = nextLang == 'en' ? '🇬🇧' : '🇪🇸';

const pathname = Astro.url.pathname.includes('es')
  ? Astro.url.pathname.replace('/es', '')
  : Astro.url.pathname;
---

<li>
  <a href={getRelativeLocaleUrl(nextLang, pathname)} class="text-xl"
    >{nextLangFlag}</a
  >
</li>
