---
import MoonStar from "./icons/moon-star.astro";
import Sun from "./icons/sun.astro";
---

<button type="button" id="theme-selector" class='relative size-9 grid place-items-center'>
  <Sun class='size-[1.2rem] scale-100 transition-transform dark:scale-0' />
  <MoonStar class='absolute size-[1.2rem] scale-0 transition-transform dark:scale-100' />
  <span class='sr-only'>Toggle theme</span>
</button>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.classList.remove('dark');
    } else {
      localStorage.theme = 'dark';
      document.documentElement.classList.add('dark');
    }
  });
</script>