---
import { Image } from 'astro:assets';

import Contact from '~/components/common/contact/index.astro';
import H1 from '~/components/common/headings/h1.astro';
import H2 from '~/components/common/headings/h2.astro';
import Subtitle from '~/components/common/headings/subtitle.astro';
import ArrowRight from '~/components/common/icons/arrow-right.astro';
import Jobs from '~/components/jobs/index.astro';
import FeaturedProjects from '~/components/projects/featured.astro';
import Layout from '~/layouts/layout.astro';
---

<Layout title="Miguel Vega - Desarrollador Frontend">
  <main class="flex w-full flex-col gap-14">
    <section class="grid grid-cols-1 gap-10 md:grid-cols-2">
      <div class="flex flex-col justify-center gap-6">
        <div class="flex flex-col justify-start gap-2">
          <H1>Miguel Vega</H1>
          <Subtitle>Desarrollador Frontend</Subtitle>
        </div>
        <div class="flex flex-col space-y-2 text-dimmed">
          <p>Creando experiencias web y m칩viles de vanguardia.</p>
          <p>
            Con m치s de tres a침os en la industria, me especializo en React.js,
            Next.js, TailwindCSS para la web, y Flutter para m칩viles.
          </p>
        </div>
        <Contact />
      </div>

      <div class="grid place-content-center">
        <Image
          src="/assets/images/miguel_angel.webp"
          width={400}
          height={400}
          alt="Yo"
          loading="eager"
          decoding="sync"
        />
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex flex-col justify-start gap-1">
        <H2>Proyectos destacados</H2>
        <Subtitle class="text-dimmed">Explora mis creaciones</Subtitle>
      </div>
      <FeaturedProjects />
      <div class="div flex justify-start">
        <a href="/projects" class="group flex items-center gap-1">
          <Subtitle>Ver todos los proyectos</Subtitle>
          <ArrowRight
            class="mt-px transition-transform duration-300 group-hover:translate-x-1"
          />
        </a>
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex flex-col justify-start gap-1">
        <H2>Experiencia laboral</H2>
        <Subtitle class="text-dimmed">Mi camino profesional</Subtitle>
      </div>
      <Jobs />
    </section>
  </main>
</Layout>
