---
import H1 from '~/components/common/headings/h1.astro';
import AllProjects from '~/components/projects/index.astro';
import Layout from '~/layouts/layout.astro';
---

<Layout title="Miguel Vega - Proyectos">
  <main class="flex w-full flex-col space-y-14">
    <section class="flex w-full flex-col space-y-6">
      <div class="flex flex-col justify-start space-y-2">
        <H1>Proyectos</H1>
        <strong class="font-semibold">
          Echa un vistazo a algunos de los proyectos que he creado.
        </strong>
      </div>
      <p class="text-dimmed">
        Cada proyecto demuestra mis habilidades en desarrollo front-end y mi
        entusiasmo por crear sitios web elegantes y fáciles de usar. Descubre
        cómo fusiono la estética con la funcionalidad para ofrecer experiencias
        digitales destacadas.
      </p>
    </section>

    <section class="space-y-6">
      <AllProjects />
    </section>
  </main>
</Layout>
